@model IList<BuisnessLayer.Student>

@{
    ViewBag.Title = "Record Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table.my-class1 {
        border-collapse: collapse;
    }
    .my-class1 th, td {
        padding: 8px;
    }
    .my-class1 tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .my-class1 th {
        background-color: #10805e;
        color: white;
    }
    .main-dialog-class .ui-widget-header{
        background:#4CAF50;font-size:16px;text-transform:uppercase
    }
</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    var date = new Date();
    var maxdate = date.getDate();
    $(function () {
        $("#datepicker").datepicker({
            defaultDate: maxdate,
            minDate: '-1M',
            maxDate: '+0D'
        });
    });

    $(function () {
        $("#dialog-message").dialog({
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            },
            dialogClass: 'main-dialog-class'
        });
    });
</script>

<title>Record Attendance</title>
<div style="font-family:Arial">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>

            <div>
                <table align="center">
                    <tr>
                        <td><b>@Html.Label("Date :")</b></td>
                        <td>@Html.TextBox("datepicker", null, new { required = "required" })</td>
                    </tr>
                </table>
            </div>
            @if (ViewBag.Message != null)
            {
            <div id="dialog-message" title="Alert !!">
                <p>
                    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                    @ViewBag.Message
                </p>
            </div>
            }

            <table align="center" class="my-class1">
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Attendance Status</th>
                </tr>
                @for (var i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td align="center">
                            @Html.DisplayFor(model => model[i].StudentId)
                            @Html.HiddenFor(model => model[i].StudentId)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model[i].StudentName)
                            @Html.HiddenFor(model => model[i].StudentName)
                        </td>
                        <td align="center">
                            <div class="editor-field">
                                @Html.EditorFor(model => model[i].AttendanceStatus)
                                @Html.ValidationMessageFor(model => model[i].AttendanceStatus)
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <table align="center">
                <tr>
                    <td><input type="submit" value="Save Details" /></td>
                </tr>
            </table>
        </fieldset>
    }
</div>

